@model DojoDachi
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Youve Won!!!</h1>
        <p class="lead">Congratulations you are a natural champion. The world should be afraid of you.</p>
        <hr class="my-2">
        <p>Check out your stats..</p>
        <p>Meals @Model.Meal</p>
        <p>Happiness @Model.Happiness</p>
        <p>Fullness @Model.Fullness</p>
        <p>Energy @Model.Energy</p>

        <p class="lead">
            <a class="btn btn-danger btn-lg" href="Restart" role="button">Restart</a>
        </p>
    </div>
</div>